* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

section {
  background-color: white;
  border: solid black 1px;
}

.subtext {
  font-size: 15px;
  font-weight: 800;
}

.projectSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero {
  background-color: #1a1c2e;
  height: 100vh;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navItems {
  width: 400px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

ul.show {
  display: block;
}

.navItems li {
  list-style-type: none;
  text-decoration: none;
}

footer {
  height: 500px;
  background-color: black;
  color: white;
  border: black 1px solid;
  text-align: center;
  padding: 80px;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

.homepageSubText {
  font-size: 40px;
}

.heroArea {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.heroText {
  margin-left: 40px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.txt-type > .txt {
  border-right: 0.1rem solid rgb(255, 94, 0);
  color: rgb(255, 94, 0);
}

.webDevImg {
  width: 45%;
  height: 45%;
  position: relative;
  bottom: 10%;
  left: 8%;
}

.labImg {
  width: 45%;
  height: 45%;
  position: relative;
  bottom: 10%;
}

.socials {
  margin-bottom: 200px;
  margin-right: 1vw;
  background-color: #aeb2db;
  color: #12152e;
  border-radius: 10px;
  padding: 0.4vw;
  width: clamp(70px, 5vw, 5vw);
  position: absolute;
  right: 0;
}

.icons {
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .heroArea {
    flex-wrap: wrap;
  }

  .heroText {
    flex: 1 0 100%;
    text-align: center;
    position: relative;
    top: 5%;
  }

  .webDevImg {
    bottom: 10%;
  }

  .labImg {
    bottom: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .webDevImg {
    display: none;
  }

  .labImg {
    display: none;
  }

  .heroArea {
    flex-wrap: wrap;
  }

  .socials {
    top: 2.5%;
    right: 42%;
    display: flex;
    margin: 0;
  }
}

@media only screen and (max-height: 700px) {
  .webDevImg {
    display: none;
  }

  .labImg {
    display: none;
  }
}

.logo {
  color: rgb(255, 94, 0);
  font-size: 60px;
  font-family: "Courgette", cursive;
  margin-left: 20px;
}

.logo:hover {
  color: #008fff;
  cursor: pointer;
}

.gitHubIcon:hover {
  fill: #7c0d0d;
}

.linkedinIcon:hover {
  fill: #7c0d0d;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.ppImage {
  border-radius: 60px;
  width: 200px;
}

.aboutMeText {
  font-size: 20px;
}

/* Project Card Section */

.projectsContainer {
  display: flex;
  justify-content: space-around;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* responsiveness for project cards */

@media only screen and (max-width: 1000px) {
  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

.projectCard {
  width: 300px;
  min-height: 500px;
  box-shadow: 5px 5px 20px grey;
  margin: 20px;
}

.project-link {
  text-decoration: none;
  color: #12152e;
}

.project-link:hover {
  color: #7c0d0d;
}

.gitHubIconProjects {
  width: 20%;
  color: #000;
}

.hamburger {
  display: none;
}

.accordion {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: #009578;
}

.accordion_label {
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  padding: 10px;
}

.accordion_label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion_label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  /* transition: transform 0.4s; */
}

.accordion_content {
  padding: 14px 20px;
  background-color: gray;
  line-height: 1.6;
  font-size: 13.5;
  display: none;
}

.accordion_input {
  display: none;
}

.accordion_input:checked ~ .accordion_content {
  display: block;
}

.accordion_input:checked ~ .accordion_label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin-right: 5vw;
  }

  .navItems {
    display: none;
  }
}

.timelineContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1a1c2e;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timelineContent h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timelineContent .date {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    right: -30px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: aqua;
  }

  .timelineContent .date {
    position: absolute;
    top: -20px;
    color: black;
    font-weight: 800;
  }

  .from-left {
    transform: translateX(-100%);
  }

  .from-right {
    transform: translateX(100%);
  }

  .from-left,
  .from-right {
    transition: transform 500ms ease-in;
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.contactMeTitle {
  margin-bottom: 30px;
}

.formContainer {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

#my-form-status {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#my-form-status.success {
  background-color: rgb(211, 250, 153);
  color: black;
  animation: status 4s ease forwards;
  display: inline;
}

#my-form-status.error {
  background-color: rgb(250, 92, 92);
  color: rgb(255, 255, 255);
  animation: status 4s ease forwards;
  display: inline;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
