* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
}

section {
  background-color: white;
  border: solid black 1px;
}

.subtext {
  font-size: 15px;
  font-weight: 800;
}

.projectSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero {
  background-color: #1a1c2e;
  height: 100vh;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: rgb(255, 94, 0);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(255, 168, 118);
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  gap: 2rem;
  margin: 15px;
  width: 100%;
}

ul.show {
  display: block;
}

.navItems li {
  list-style-type: none;
  text-decoration: none;
}

footer {
  height: 500px;
  background-color: black;
  color: white;
  border: black 1px solid;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: 15px 0;
}

hr {
  color: black;
  background-color: black;
  border: 1px solid black;
  margin: 5px 0;
}

.homepageSubText {
  font-size: 40px;
}

.heroArea {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.heroText {
  margin-left: 40px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.txt-type {
  font-size: 35px;
}

.txt-type > .txt {
  border-right: 0.1rem solid rgb(255, 94, 0);
  color: rgb(255, 94, 0);
}

.webDevImg {
  width: 45%;
  height: 45%;
  position: relative;
  bottom: 10%;
  left: 8%;
}

.labImg {
  width: 45%;
  height: 45%;
  position: relative;
  bottom: 10%;
}

.socials {
  margin-bottom: 200px;
  margin-right: 20px;
  background-color: #caa7a7;
  color: #12152e;
  border-radius: 10px;
  padding: 0.4vw;
  width: clamp(70px, 5vw, 5vw);
  position: absolute;
  right: 0;
}

.icons {
  width: 100%;
  padding: 3px;
}

@media only screen and (max-width: 1500px) {
  .heroArea {
    flex-wrap: wrap;
  }

  .heroText {
    flex: 1 0 100%;
    text-align: center;
    position: relative;
    top: 5%;
  }

  .webDevImg {
    bottom: 15%;
  }

  .labImg {
    bottom: 15%;
  }

  .socials {
    right: -20%;
  }
}

@media only screen and (max-width: 700px) {
  .navItems {
    flex-wrap: wrap;
    font-size: 3vw;
  }

  .webDevImg {
    display: none;
  }

  .labImg {
    display: none;
  }

  .heroArea {
    flex-wrap: wrap;
    margin-right: 0;
    width: 100%;
  }

  .heroText {
    gap: 5vh;
    margin-left: 0;
  }

  .socials {
    position: static;
    align-self: center;
    margin-right: 0;
    display: flex;
    width: 150px;
    height: 78px;
  }
}

@media only screen and (max-height: 700px) {
  .webDevImg {
    display: none;
  }

  .labImg {
    display: none;
  }
}

.logo {
  color: rgb(255, 94, 0);

  font-size: 60px;
  font-family: "Courgette", cursive;
  margin-left: 20px;
}

.gitHubIcon:hover {
  fill: #7c0d0d;
}

.linkedinIcon:hover {
  fill: #7c0d0d;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  gap: 2rem;
}

.aboutMeText h2 {
  margin: 0;
  text-align: center;
}

.ppImage {
  border-radius: 60px;
  width: 200px;
}

#profilePicNarrow {
  display: none;
}

@media only screen and (max-width: 835px) {
  #profilePicNarrow {
    display: block;
    margin: auto;
  }

  #profilePicWide {
    display: none;
  }
}

.skillsContainer {
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  gap: 1rem;
  margin: 0 0 20px 0px;
}

.skillsContainer h3 {
  flex-basis: 100%;
  text-align: center;
  padding: 20px;
}

.skillsContainer .additionalSkillsHeader {
  border-top: black 1px solid;
}

.skillImg {
  min-height: 40px;
  height: 10%;
  max-height: 70px;
  min-width: 40px;
  width: 10%;
  max-width: 70px;
}

.skillImgNode {
  position: relative;
  top: 12px;
}

/* Project Card Section */

.projectsContainer {
  display: flex;
  justify-content: space-around;
}

.project-link {
  text-decoration: none;
  color: #12152e;
}

.projectCard > p {
  padding-bottom: 10px;
  font-weight: 500;
}

.projectCard > p > span {
  font-weight: 900;
}

.projectCardBottom {
  position: relative;
}

.projectCardBottom .viewProjectText {
  position: absolute;
  left: 50px;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.projectCardBottom .viewProjectText a:hover {
  text-decoration: underline;
  color: #7c0d0d;
}

.projectCardBottom .viewProjectText a {
  text-decoration: none;
  color: black;
}

.svgIconAndLink {
  position: relative;
  left: 100px;
  bottom: 15px;
}

.sourceCode {
  position: relative;
  left: 100px;
  top: 60px;
  font-size: 10px;
  font-weight: bold;
}

.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}
.slider figure img {
  float: left;
  width: 25%;
  height: 280px;
  transform: scale(0.9);
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

/* responsiveness for project cards */

@media only screen and (max-width: 1000px) {
  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

.projectCard {
  width: 300px;
  min-height: 500px;
  box-shadow: 5px 5px 20px grey;
  margin: 20px;
  background-color: #eff5ff;
  align-self: flex-start;
}

.projectCard h3 {
  font-size: 20px;
  margin: 8px 0;
}

.project-link:hover {
  color: #7c0d0d;
}

.gitHubIconProjects {
  width: 20%;
  color: #000;
}

.projectOverview {
  padding: 0 20px 0 20px;
  position: relative;
  top: -5px;
}

.accordion {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #eff5ff;
  text-align: left;
  margin-top: 5px;
  position: relative;
  top: -10px;
}

.accordion_label {
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  padding: 10px;
}

.accordion_label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion_label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100, 0 50,50" style="fill:black;" /></svg>');
  background-size: contain;
  transition: transform 0.6s;
}

.accordion_content {
  padding: 14px 20px;
  background-color: rgb(234, 255, 247);
  line-height: 1.6;
  font-size: 13.5;
  display: none;
}

.languageIcons {
  width: 40px;
  height: 40px;
}

.accordion_input {
  display: none;
}

.accordion_input:checked ~ .accordion_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
.accordion_input:checked ~ .accordion_content .languages_description {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.accordion_input:checked ~ .accordion_content .languages_header {
  display: flex;
  justify-content: center;
}

.accordion_input:checked ~ .accordion_content .languages_description p {
  position: relative;
  top: 10px;
  font-weight: 800;
  font-size: 15px;
}

.accordion_input:checked ~ .accordion_content .languages_description > span {
  position: relative;
  top: 10px;
  font-weight: 800;
  font-size: 15px;
}

.accordion_input:checked ~ #guessWhoLanguageAccordion {
  padding: 5px 20px 20px 20px;
  gap: 0.5rem;
}

.accordion_input:checked ~ #guessWhoLanguageAccordion h3 {
  margin: 0;
}

.accordion_input:checked ~ .accordion_label {
  font-weight: bold;
  background-color: #e7f1ff;
  border: solid rgba(49, 154, 252, 0.39) 3px;
}

.accordion_input:checked ~ .accordion_label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.timelineContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.timelineContainer h2 {
  margin: 20px 0 50px 0;
  text-align: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #e4e6fa;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid transparent;
}

.timeline ul li:hover {
  border: 3px rgb(255, 94, 0) solid;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timelineContent h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timelineContent .date {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.timelineContent .company-address {
  font-style: italic;
  font-weight: 500;
}

.timelineContent hr {
  margin: 20px 0;
  border: solid 1px black;
  background-color: black;
}

.timelineContent .jobRole {
  margin: 15px 0;
  text-align: center;
}

.timelineContent .jobResponsibilities {
  font-size: 14px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    right: -33px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -33px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: rgb(255, 94, 0);
  }

  .timelineContent .date {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .timelineContent h1 {
    padding: 10px 0;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

#educationAndAchievements {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#educationAndAchievements h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.educationTable {
  align-self: center;
}

.educationText {
  display: none;
}

.educationTable,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}

.educationTable th {
  background-color: rgb(255, 220, 220);
}

.allAchievements {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 792.438px;
  border: 1px black solid;
  background-color: #eff5ff;
  border-radius: 10px;
  padding: 20px;
  gap: 1rem;
}

.qekImgIcons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.qekImgIcons .pptIcon {
  width: 40px;
  height: 40px;
}

.qekImgIcons a {
  text-decoration: none;
  color: black;
  width: 160px;
}

.qekContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid transparent;
}

.qekContainer p {
  margin-bottom: 5px;
}

.qekContainer:hover {
  border: 1px solid #d24625;
}

@media only screen and (max-width: 430px) {
  .educationTable {
    display: none;
  }

  .educationText {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 50px;
    font-size: 20px;
  }

  .educationText p:nth-child(2) {
    font-weight: bold;
  }

  .educationText p:nth-child(5) {
    font-weight: bold;
  }

  .educationText p:nth-child(3) span {
    font-style: italic;
    letter-spacing: 2px;
  }

  .educationText p:nth-child(6) span {
    font-style: italic;
    letter-spacing: 2px;
  }

  .educationText hr {
    border: none;
    border-top: 1px dashed black;
  }
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 28, 46);
}

.contactMeTitle {
  margin-bottom: 30px;
  color: rgb(255, 94, 0);
}

.formContainer {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(255, 94, 0);
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

#my-form-status {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#my-form-status.success {
  background-color: rgb(211, 250, 153);
  color: black;
  animation: status 4s ease forwards;
  display: inline;
}

#my-form-status.error {
  background-color: rgb(250, 92, 92);
  color: rgb(255, 255, 255);
  animation: status 4s ease forwards;
  display: inline;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.references {
  padding: 10px;
}

.references a {
  text-decoration: none;
  color: white;
}

.references a:hover {
  text-decoration: underline;
}

.top {
  text-decoration: none;
  color: white;
}

.top:hover {
  text-decoration: underline;
}
